
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
      {{> dashboard-postinfo post}}
    {{/each}}

</section>
{{/if}}

<a href="/dashboard/new"><button>+ New Post</button></a>

<script src="/javascript/add-post.js"></script>