* {
    box-sizing: border-box;
  }

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: color .1s;
    padding-right: 20px;
}

a:hover {
    color: darkorange;
}

.app-title {
    color: orange;
}

.title-container {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    
    position: absolute;
    top:-250px;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.app-title {
    font-size: 100px;
}
h2 {
    color: orange;
}

label {
    color: orange;
    font-weight: bold;
    font-size: 20px;
    padding-left: 20px;
}

.login-link {
    padding-left: 20px;
}

button {
    color: black;
    background-color: orange;
    border: none;
    font-weight: bold;
    margin-left: 10px;
}

button:hover {
    background-color: darkorange;
}

input {
    font-weight: bold;
    padding-left: 5px;
}

input:focus { 
    outline: none;
    border-color: orange;
    box-shadow: 0 0 10px 0 orange;
}